{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Connexion{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ FLASHES =============== #}
    {# ======================================== #}

    <div class="login-anim">
        {% for message in app.flashes('message') %}
            <div class="flash successFlash">{{message}}</div>
        {% endfor %}
    </div>

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Connectez-vous</h2>
        <p>Ravie de vous revoir</p> 
    </section>

    {# ======================================== #}
    {# =============== CONNEXION ============== #}
    {# ======================================== #}

    <section class="container-form">

        <form method="post">

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>

            {% endif %}

            {% if app.user %}
                <div>
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_user_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                        
            <button class="btn-center" type="submit">Se connecter</button>

        </form>
                    
    </section>

    <section class="message">
        <p> Vous n'avez pas de compte ?</p>
        <a href=" {{ path('app_security_sign_up') }}">Inscrivez-vous</a>
    </section> 

{% endblock %}