{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/form.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Inscription{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}
    
    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Inscrivez-vous</h2>
        <p>Bienvenue parmis nous</p> 
    </section>

    {# ======================================== #}
    {# ============== INSCRIPTION ============= #}
    {# ======================================== #}

    <section class="container-form">
        
        {{ form_start(form) }}

            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.phoneNumber) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}

        {{ form_end(form) }}

    </section>

    <section class="message">
        <p> Vous avez un compte ?</p>
        <a href=" {{ path('app_security_log_in') }}">Connectez-vous</a>
    </section> 

{% endblock %}