{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/admin/view.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Fiche produit {{ currentCoffee.name }}{% endblock %}


{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    <main class="wrapper"> 

        {# ======================================== #}
        {# ================= BUTTON =============== #}
        {# ======================================== #}

        <section class="command-btn">
            
            {# ================= DASHBOARD =============== #}
            {# ================= DASHBOARD =============== #}
            {# ================= DASHBOARD =============== #}
            <button>
                <a href="{{ path('app_admin_dashboard') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-border-all" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <line x1="4" y1="12" x2="20" y2="12" />
                        <line x1="12" y1="4" x2="12" y2="20" />
                    </svg>
                    <p>Dashboard</p>
                </a>
            </button>
            {# ================= COFFEE =============== #}
            {# ================= COFFEE =============== #}
            {# ================= COFFEE =============== #}
            <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mug" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4.083 5h10.834a1.08 1.08 0 0 1 1.083 1.077v8.615c0 2.38 -1.94 4.308 -4.333 4.308h-4.334c-2.393 0 -4.333 -1.929 -4.333 -4.308v-8.615a1.08 1.08 0 0 1 1.083 -1.077" />
                    <path d="M16 8h2.5c1.38 0 2.5 1.045 2.5 2.333v2.334c0 1.288 -1.12 2.333 -2.5 2.333h-2.5" />
                </svg>
                <p>Les cafés</p>
            </button>
            {# ================= FOOD =============== #}
            {# ================= FOOD =============== #}
            {# ================= FOOD =============== #}
            <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ice-cream-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M17.657 11.004a6 6 0 1 0 -11.315 0" />
                        <path d="M6.342 11l5.658 11l5.657 -10.996z" />
                    </svg>
                    <p>Les viennoiseries</p>
            </button>
            {# ================= BOOK =============== #}
            {# ================= BOOK =============== #}
            {# ================= BOOK =============== #}
            <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                        <line x1="3" y1="6" x2="3" y2="19" />
                        <line x1="12" y1="6" x2="12" y2="19" />
                        <line x1="21" y1="6" x2="21" y2="19" />
                    </svg>
                    <p>Les livres</p>
            </button>
            {# ================= EVENT =============== #}
            {# ================= EVENT =============== #}
            {# ================= EVENT =============== #}
            <button class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="5" width="16" height="16" rx="2" />
                    <line x1="16" y1="3" x2="16" y2="7" />
                    <line x1="8" y1="3" x2="8" y2="7" />
                    <line x1="4" y1="11" x2="20" y2="11" />
                    <rect x="8" y="15" width="2" height="2" />
                </svg>
                <p>Les évènements</p>
            </button>
            {# ================= USER =============== #}
            {# ================= USER =============== #}
            {# ================= USER =============== #}
            <button class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <circle cx="12" cy="7" r="4" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                    </svg>
                    <p>Les utilisateurs</p>
            </button>
            {# ================= HOME =============== #}
            {# ================= HOME =============== #}
            {# ================= HOME =============== #}
            <button>
                <a href="{{ path('app_default_home_page') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="5 12 3 12 12 3 21 12 19 12" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                    <p>Accueil</p>
                </a>
            </button>
        </section>

        <section class="container-box">
            <div class="box">
                <div class="img-box">
                    {% if currentCoffee.img == true %}
                        <img width="400" height="400" src="{{ asset('/uploads/' ~ currentCoffee.img) }}" alt="{{ currentCoffee.name }}" onerror="this.style.display='none';"/>
                        {% else %}
                            <p>Il n'y a pas d'image sur ce produit</p>
                    {% endif %} 
                </div>
                <div class="text-box">
                    <div class="heading">
                        <h2>{{ currentCoffee.name }}</h2>
                    </div>
                    <div class="detail-box">
                        <p>{{ currentCoffee.description }}</p>
                        <p>{{ currentCoffee.price }}€</p>
                    </div>
                        
                </div>
            </div>
            <div class="btn">
                <button>
                    <a href="{{ path('app_admin_update_coffee', {'id': currentCoffee.id}) }}">
                        Modifier le café ?
                    </a>
                </button>
                <button>
                    <a href="{{ path('app_admin_delete_coffee', {'id': currentCoffee.id}) }}">
                        Supprimer le café ?
                    </a>
                </button>
            </div>
        </section>
        

        

    </main>
    
{% endblock %}