{% extends "base.html.twig" %}

{% block title %}Livre : {{ currentFood.name }}{% endblock %}

{% block body %}

    <style>
        footer{
            display: none;
        }
        header::after{
            content: " ";
            position: absolute;
            z-index: 0;
            top: 10%;
            bottom: 10%;
            left: 10%;
            right: 10%;
            background: rgba(255, 255, 255, 0.4);
        }
        header h1{
            font-family: var(--font-serif);
            text-transform: uppercase;
            text-align: center;
            color: var(--color-light-brown);
            text-shadow:
                    1px 0 1px var(--color-dark-brown),
                    0 1px 1px var(--color-light-brown),
                    2px 1px 1px var(--color-dark-brown),
                    1px 2px 1px var(--color-light-brown),
                    3px 2px 1px var(--color-dark-brown),
                    2px 3px 1px var(--color-light-brown),
                    4px 3px 1px var(--color-dark-brown),
                    3px 4px 1px var(--color-light-brown),
                    5px 4px 1px var(--color-dark-brown),
                    4px 5px 1px var(--color-light-brown),
                    6px 5px 1px var(--color-dark-brown),
                    5px 6px 1px var(--color-light-brown),
                    7px 6px 1px var(--color-dark-brown);
        }
        @media screen and (max-width: 800px){
            header::after{
                content: " ";
                position: absolute;
                z-index: 0;
                top: 10%;
                bottom: 10%;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.4);
            }
            .description{
                text-align: center !important;
            }
        }
    </style>

    {% if currentFood.img != true %}
        <header data-jarallax data-speed=".8" style="background: url('/assets/img/background/bg-header.jpg') no-repeat center center / cover;">
    {% else %}
        <header data-jarallax data-speed=".8" style="background: url('/uploads/{{ currentFood.img }}') no-repeat center center / cover;">
    {% endif %}

    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0" style="z-index: 1; position:relative;">

        <div class="container mt-10 my-auto">

            <div class="row justify-content-center">

                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <div class="display-3 text-white mb-4">

                        <!-- Heading -->
                        <h1 class="color-light display-5">{{ currentFood.name }}</h1>

                        <!-- Subheading -->
                        <p class="font-default color-light text-center mt-0 uppercase" style="font-size: 1.5rem">
                            À
                            <span class="text-primary">{{ currentFood.price }}€</span>
                            au
                            <span class="text-primary">C&B</span>
                        </p>

                        <!-- Text -->
                        <p class="description my-5 text-start font-default" style="font-size: 1rem">
                            {{ currentFood.description}}
                        </p>

                        <div class="mx-5 d-flex justify-content-center">
                            <a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0 mx-3" href="{{ path('app_admin_update_book', {'id': currentFood.id}) }}">
                                Modifier
                            </a><a class="btn btn-outline-primary text-white text-primary-hover mb-7 mb-md-0 mx-3" href="{{ path('app_admin_delete_book', {'id': currentFood.id}) }}">
                                Supprimer
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    </header>

{% endblock %}