<style>
    .link a{
        text-decoration: none !important;
        color: #f9f9f9 !important;
    }
    footer p,
    footer li{
        color: #f9f9f9 !important;
    }
</style>

<footer class="py-7 py-md-9 bg-dark">
    <div class="container px-4">
        <div class="row gx-7">
            <div class="col-sm-4">

                <!-- Heading -->
                <h3 class="text-xs text-primary">
                    Heure d'ouverture
                </h3>

                <!-- Text -->
                <p>Lundi : 08h30 à 16h30</p>
                <p>Mardi : Fermé</p>
                <p>Mercredi : 08h30 à 16h30</p>
                <p>Jeudi : 08h30 à 16h30</p>
                <p>Vendredi : 08h30 à 16h30</p>
                <p>Samedi : 14h00 à 14h00</p>
                <p>Dimanche : 14h00 à 14h00</p>

            </div>

            <div class="col-sm-4">

                <!-- Heading -->
                <h3 class="text-xs text-primary">
                    Nos informations
                </h3>

                <!-- Text -->
                <ul class="list-unstyled mb-6">
                    <li class="d-flex mb-2">
                        <div class="fas fa-map-marker-alt me-3 mt-2 fs-sm"></div>
                        1607 du pot au noir, Paris (75)
                    </li>
                    <li class="d-flex mb-2">
                        <div class="fas fa-phone me-3 mt-2 fs-sm"></div>
                        06 24 16 26 23
                    </li>
                    <li class="d-flex">
                        <div class="far fa-envelope me-3 mt-2 fs-sm"></div> <a href="mailto:CoffeeAndBook@mail.fr">CoffeeAndBook@mail.fr</a>
                    </li>
                </ul>

            </div>

            <div class="col-sm-4">

                <!-- Heading -->
                <h3 class="text-xs text-primary">
                    Lien utile
                </h3>

                <!-- Link -->
                <div class="link d-flex flex-column">
                    <p><a href="{{ path('app_default_home_page') }}">Accueil</a></p>
                    <p><a href="{{ path('app_default_coffee_beans') }}">Les grains de café</a></p>
                    <p><a href="{{ path('app_default_menu') }}">La carte</a></p>
                    <p><a href="{{ path('app_default_event') }}">Les évènements</a></p>
                    <p><a href="{{ path('app_default_review') }}">Les avis</a></p>
                    <p><a href="{{ path('app_default_home_page', {'_fragment': 'personnel'}) }}">À propos de nous</a></p>
                    <p><a href="{{ path('app_default_home_page', {'_fragment': 'contact'}) }}">Nous contacter</a></p>
                </div>
            </div>
        </div>

        <div class="row py-5">
            <div class="col-12">
                <!-- Copyright -->
                <section class="d-flex align-items-center copyright">
                    <hr class="hr-sm me-3" style="height: 1px;" />
                    <p>C&B <span id="copyright"></span> © Réalisée par JUSTC</p>
                </section>

            </div>
        </div>

    </div>

</footer>

{% block javascript %}
    <script src="/assets/JS/include/footer.js"></script>
{% endblock %}