{# ======================================== #}
{# ================= STYLE ================ #}
{# ======================================== #}

{% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/include/footer.css">
    <link rel="stylesheet" href="/assets/css/mini-reset.css">
    <link rel="stylesheet" href="/assets/css/variables.css"> 

{% endblock %}

{# ======================================== #}
{# ================= FOOTER =============== #}
{# ======================================== #}

<footer>

    <section class="footer">

        {# ======================================== #}
        {# =============== SCHEDULE =============== #}
        {# ======================================== #}

        <article class="schedule">
            <h2>Heure d'ouverture</h2>
            <div class="border">
                <p>Lundi : 08h30 à 16h30</p>
                <p>Mardi : Fermé</p>
                <p>Mercredi : 08h30 à 16h30</p>
                <p>Jeudi : 08h30 à 16h30</p>
                <p>Vendredi : 08h30 à 16h30</p>
                <p>Samedi : 14h00 à 14h00</p>
                <p>Dimanche : 14h00 à 14h00</p>
            </div>
        </article>

        <div class="line line1"></div>

        {# ======================================== #}
        {# ================== LINK ================ #}
        {# ======================================== #}

        <article class="link ">
            <h2>Liens utiles</h2>
            <div class="border">

                <a href="{{ path('app_default_home_page') }}">Accueil</a>
                <a href="{{ path('app_default_coffee_beans') }}">Les grains de café</a>
                <a href="{{ path('app_default_menu') }}">La carte</a>
                <a href="{{ path('app_default_event') }}">Les évènements</a>
                <a href="{{ path('app_default_review') }}">Les avis</a>
                <a href="{{ path('app_default_home_page', {'_fragment': 'personnel'}) }}">À propos de nous</a>
                <a href="{{ path('app_default_home_page', {'_fragment': 'contact'}) }}">Nous contacter</a>
                
            </div>
        </article>

        <div class="line line2"></div>

        {# ======================================== #}
        {# =============== ABOUT US =============== #}
        {# ======================================== #}

        <article class="about-us ">
            <h2>À propos de nous</h2>

            <p>1607 avenue du pot au noir - Paris (75)</p>
            <p>06 24 16 26 23</p>
            <p>CandBShop@mail.fr</p>

        </article>
<section class="copyright">
        <p>C&B SHOP <span id="copyright"></span> © Réalisée par JUSTC</p>
    </section>
    </section>{# END SECTION FOOTER #}
    
</footer>

{# ======================================== #}
{# ============= JAVA SCRIPT ============== #}
{# ======================================== #}

{% block javascript %}
    <script src="/assets/JS/include/footer.js"></script>
{% endblock %}