{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/include/navbar.css">
    <link rel="stylesheet" href="/assets/css/mini-reset.css">
    <link rel="stylesheet" href="/assets/css/variables.css"> 
    <link rel="stylesheet" href="/assets/css/main-component.css"> 

{% endblock %}

{# ================================================== #}
{# ================= CONTAINER HEADER =============== #}
{# ================================================== #}
    
<div class="container-header">
    
    {# ======================================== #}
    {# =================== NAV ================ #}
    {# ======================================== #}

    <nav>

        <a href="{{ path('app_default_home_page') }}"class="logo">
            <img src="/assets/img/logo.png" alt="">
        </a>

        <div class="navigation">
                
                {# Partie visible quand on est déconnecter #}

                <a  href="{{ path('app_default_coffee_beans') }}" title="Les grains de café" >
                    <img src="/assets/img/icons/beans.png" alt="Icône d'un grain de café">
                </a>

                <a href="{{ path('app_default_menu') }}"  title="La carte" >
                    <img src="/assets/img/icons/menu.png" alt="Icône de grain de café">
                </a>

                <a href="{{ path('app_default_home_page', {'_fragment': 'contact'}) }}" title="Nous contacter" >
                    <img src="/assets/img/icons/contact.png" alt="Icône d'une enveloppe">
                </a>
                
                {# Partie visible quand on n'est pas connecter en tant qu'utilisateur #}
                {% if not app.user %}

                    <a href="{{ path('app_security_log_in') }}" title="Connectez-vous" >
                        <img src="/assets/img/icons/login.png" alt="Icône de connexion">
                    </a>

                    {# Partie visible quand on est connecter en tant qu'utilisateur #}
                    {% else %}

                        {# Partie visible quand on est connecter en tant qu'administrateur #}
                        {% if is_granted("ROLE_ADMIN") %}

                            <a href="{{ path('app_admin_dashboard') }}" title="Accès à votre dashboard">
                                <img src="/assets/img/icons/dashboard.png" alt="Icône de dashboard">
                             </a>

                        {% endif %} {# END IS_GRANTED #}

                    <a href="{{ path('app_security_log_out') }}" title="Déconnectez-vous" >
                        <img src="/assets/img/icons/logout.png" alt="Icône de déconnexion">
                    </a>

                {% endif %}{# END IF #}
            
        </div> {# END .NAVIGATION #}

    </nav>

    {# ======================================== #}
    {# ================== HEADER ============== #}
    {# ======================================== #}

    <header>
        <h1 id="title">Coffee and Book</h1>
        <p>« Un bon livre doit vous faire le même effet que le café : vous maintenir en éveil.» </p>
    </header>

</div> {# END CONTAINER NAVBAR #}