{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}

{% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/CSS/include/navbar.css">
    <link rel="stylesheet" href="/assets/CSS/mini-reset.css">
    <link rel="stylesheet" href="/assets/CSS/variables.css"> 
    <link rel="stylesheet" href="/assets/CSS/main-component.css"> 

{% endblock %}

{# ==================== HEADER ==================== #}
{# ==================== HEADER ==================== #}
{# ==================== HEADER ==================== #}
    
<div class="header">
    
    {# ==================== NAVIGATION ==================== #}
    {# ==================== NAVIGATION ==================== #}
    {# ==================== NAVIGATION ==================== #}

    <nav>

        {# ==================== LOGO ==================== #}
        {# ==================== LOGO ==================== #}
        {# ==================== LOGO ==================== #}

        <a href="{{ path('app_default_home') }}"class="logo">
            <img src="/assets/img/step/mug-and-book.png" alt="">
        </a>

        {# ==================== LINK ==================== #}
        {# ==================== LINK ==================== #}
        {# ==================== LINK ==================== #}

        <div class="navigation">

                <a href="" title="Vos commandes" >
                    <img src="/assets/img/icons/navbar/tasse-a-cafe.png" alt="Icône d'une gobelet à café">
                </a>
                    
                <a href="{{ path('app_menu') }}" title="La carte" >
                    <img src="/assets/img/icons/navbar/beans-white.png" alt="Icône d'un grain de café">
                </a>
                    
                 <a href="" title="Accédez à vôtre panier" >
                    <img src="/assets/img/icons/navbar/basket.png" alt="Icône d'un panier">
                </a>

                {% if not app.user %}

                       <a href="{{ path('app_security_login') }}" title="Connectez-vous" >
                        <img src="/assets/img/icons/navbar/enter.png" alt="Icône de connexion">
                    </a>

                    {% else %}
                    
                        {% if is_granted("ROLE_ADMIN") %}

                            <a href="{{ path('app_admin_dashboard') }}" title="Accès à votre dashboard">
                                <img src="/assets/img/icons/navbar/dashboard.png" alt="Icône de dashboard">
                             </a>

                        {% endif %} {# END IS_GRANTED #}

                        <a href="{{ path('app_default_account') }}" title="Votre compte" >
                            <img src="/assets/img/icons/navbar/user.png" alt="Icône d'utilisateur">
                        </a>

                        <a href="{{ path('app_security_logout') }}" title="Déconnectez-vous" >
                            <img src="/assets/img/icons/navbar/logout.png" alt="Icône de déconnexion">
                        </a>

                {% endif %}{# END IF #}
            
        </div> {# END .NAVIGATION #}

    </nav>

    {# ==================== HEADER ==================== #}
    {# ==================== HEADER ==================== #}
    {# ==================== HEADER ==================== #}

    <header>

        <h1 class="color-brown-dark font-serif uppercase text-center">
            {% block page_title 'Coffee and Book Shop' %}
        </h1>

        <p class="color-light font-serif text-center">
             « Un bon livre doit vous faire le même effet que le café : vous maintenir en éveil.»
        </p>

    </header>

</div> {# END .HEADER #}