{# =============================================== #}
{# ==================== STYLE ==================== #}
{# =============================================== #}

{% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/CSS/include/navbar.css">
    <link rel="stylesheet" href="/assets/CSS/mini-reset.css">
    <link rel="stylesheet" href="/assets/CSS/variables.css"> 
    <link rel="stylesheet" href="/assets/CSS/main-component.css"> 

{% endblock %}

{# ========================================================== #}
{# ==================== CONTAINER HEADER ==================== #}
{# ========================================================== #}
    
<div class="container-header">
    
    {# ==================================================== #}
    {# ==================== NAVIGATION ==================== #}
    {# ==================================================== #}
    <nav>

        {# Logo du site #}
        <a href="{{ path('app_default_home_page') }}"class="logo">
            <img src="/assets/img/logo.png" alt="">
        </a>

        {# Lien vers les différentes pages du site #}
        <div class="navigation">
                
                {# Partie visible quand on est déconnecter #}
                {# Partie visible quand on est déconnecter #}
                {# Partie visible quand on est déconnecter #}

                <a  href="" title="Les grains de café" >
                    <img src="/assets/img/icons/beans.png" alt="Icône d'un grain de café">
                </a>

                <a href="{{ path('app_menu') }}"  title="La carte" >
                    <img src="/assets/img/icons/menu.png" alt="Icône de grain de café">
                </a>

                <a href="" title="Nous contacter" >
                    <img src="/assets/img/icons/contact.png" alt="Icône d'une enveloppe">
                </a>
                
                {# Partie visible quand on n'est pas connecter en tant qu'utilisateur #}
                {# Partie visible quand on n'est pas connecter en tant qu'utilisateur #}
                {# Partie visible quand on n'est pas connecter en tant qu'utilisateur #}
                {% if not app.user %}

                    <a href="{{ path('app_security_login') }}" title="Connectez-vous" >
                        <img src="/assets/img/icons/login.png" alt="Icône de connexion">
                    </a>

                    {# Partie visible quand on est connecter en tant qu'utilisateur #}
                    {# Partie visible quand on est connecter en tant qu'utilisateur #}
                    {# Partie visible quand on est connecter en tant qu'utilisateur #}
                    {% else %}

                        <a href="{{ path('app_default_account') }}" title="Votre compte" >
                            <img src="/assets/img/icons/account.png" alt="Icône d'utilisateur">
                        </a>

                        {# Partie visible quand on est connecter en tant qu'utilisateur #}
                        {# Partie visible quand on est connecter en tant qu'utilisateur #}
                        {# Partie visible quand on est connecter en tant qu'utilisateur #}
                        {% if is_granted("ROLE_ADMIN") %}

                            <a href="{{ path('app_admin_dashboard') }}" title="Accès à votre dashboard">
                                <img src="/assets/img/icons/dashboard.png" alt="Icône de dashboard">
                             </a>

                        {% endif %} {# END IS_GRANTED #}

                    <a href="{{ path('app_security_logout') }}" title="Déconnectez-vous" >
                        <img src="/assets/img/icons/logout.png" alt="Icône de déconnexion">
                    </a>

                {% endif %}{# END IF #}
            
        </div> {# END .NAVIGATION #}

    </nav>

    {# ================================================ #}
    {# ==================== HEADER ==================== #}
    {# ================================================ #}
    <header>
        <h1>{% block page_title 'Coffee and Book' %} </h1>
        <p> « Un bon livre doit vous faire le même effet que le café : vous maintenir en éveil.» </p>
    </header>

</div> {# END CONTAINER NAVBAR #}