{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}

{% extends "base.html.twig" %}

{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/CSS/default/account.css">
{% endblock %}

{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}

{% block title %}Mon compte{% endblock %}

{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}
{% block body %}

    <section class="heading">
        <h2 class="text-center font-serif">Bienvenue sur votre compte {{ app.user.firstname }} {{ app.user.lastname }}</h2>
        <p class="text-center font-serif color-red">Vos informations personnelles</p>
    </section>

    

    {# ==================== SECTION : USERS ==================== #}
    {# ==================== SECTION : USERS ==================== #}
    {# ==================== SECTION : USERS ==================== #}

    <section class="information">

        <table>

            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Email</th>
                    <th>N° de téléphone</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ app.user.id}}</td>
                    <td>{{ app.user.email}}</td>
                    <td>{{ app.user.phoneNumber}}</td>
                    <td>{{ app.user.address}}</td>
                    <td>{{ app.user.postalCode}}</td>
                    <td>{{ app.user.city}}</td>
                    <td>

                        <a href="" title="Modifier l'utilisateur">
                            Modifier votre compte
                        </a> 
                
                    </td>
                </tr>    
            </tbody>
                
        </table>

    </section>

    <section class="heading">
        <p class="text-center font-serif color-red">Vos commandes</p>
    </section>

    <section class="information">

        <table>

            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>N° de la commande</th>
                    <th>Date de la commande</th>
                    <th>Montant de la commande</th>
                    <th>Statut de la commande</th>
                </tr>
            </thead>

            <tbody>
                  
            </tbody>
                
        </table>

    </section>

{% endblock %}