{% extends 'base.html.twig' %}

{% block title %}C&B : Les grains{% endblock %}

{% block body %}

    <!-- NAVBAR -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">

        <div class="container">

            <!-- Navbar brand (mobile) -->
            <a class="navbar-brand d-lg-none" href="{{ path('app_default_home_page') }}">Coffee and Book</a>

            <!-- Navbar toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">

                <!-- Navbar nav -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_default_menu') }}">Menu</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_default_event') }}">Évènements</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('app_default_coffee_beans') }}">Grains</a>
                    </li>

                </ul>

                <!-- Navbar brand -->
                <a class="navbar-brand d-none d-lg-flex mx-lg-auto" href="{{ path('app_default_home_page') }}">
                    Coffee and Book
                </a>

                <!-- Navbar nav -->
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('app_user_account') }}">Compte</a>
                    </li>

                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_admin_dashboard') }}">Dashboard</a>
                        </li>
                    {% endif %}

                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_security_login') }}">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('app_security_log_out') }}">Déconnexion</a>
                        </li>
                    {% endif %}

                </ul>

            </div>

        </div>

    </nav>

    {# ================================================== #}

    <!-- ARTICLE -->
   <style>
        @media screen and (max-width: 800px){
            .carte{
                flex-direction: column;
            }
            .carte a{
                pointer-events: none;
                cursor: default;
            }
            .carte p{
                margin-top: 1rem;
                display: block !important;
                text-align: center;
            }
        }
        @media screen and (max-width: 320px){
            article h1{
                font-size: 2.5rem !important;
            }
        }
    </style>
    <article class="pt-10 pt-md-12">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <!-- Preheading -->
                    <h6 class="text-xs text-primary">
                        Les grains de café du monde
                    </h6>

                    <!-- Heading -->
                    <h1 class="display-3 mb-4">
                        Envie de découvrir de nouvelle <span class="text-primary"><em>saveur</em></span> ?
                    </h1>

                    <!-- Subheading -->
                    <p class="mb-6">
                        Voyez quels grains sont disponibles chez nous
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <!-- Image -->
                    <figure class="mb-6 text-center">
                        <img width="500" height="auto" class="img-fluid" src="assets/img/beans/beans.jpg" alt="image de grain de café">
                    </figure>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">

                    <!-- Heading -->
                    <h2 class="fw-bold mt-6 mb-3">
                        Chez C&B on vous offre le choix.
                    </h2>

                    <!-- Text -->
                    <p>
                        On peut classer les meilleurs cafés selon plusieurs critères
                        comme le goût, en s’assurant d’avoir un excellent équilibre entre acidité et amertume ;
                        l’odeur, dégagée d’un café fraichement moulu,
                        et la torréfaction parfaite de ses grains pour assurer les meilleurs arômes lors de la dégustation.
                    </p>
                    <p>
                        Et vous ? Si vous choissisez, le <span class="text-primary">meilleur</span> pour votre café ?
                    </p>

                    <!-- Divider -->
                    <hr class="mt-6 mt-md-9 mb-0" />

                    <div class="carte d-flex justify-content-center my-10">
                        <a class="btn btn-outline-primary text-primary-hover mb-7 mb-md-0" href="https://caroline-jtf.github.io/map_coffee_and_book/" onclick="javascript:window.open(this.href,'MAP_Coffee_and_Book','height=1000,width=1500,location=no,resizable=yes,scrollbars=yes');return false;">
                            Voir les grains disponible dans notre café
                        </a>
                        <p style="display: none">Carte disponible que sur version desktop</p>
                    </div>

                </div>

            </div>

        </div>

    </article>

{% endblock %}