{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= STYLE ================ #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/default/event.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Nos évènements{% endblock %}


{# ======================================== #}
{# ================== BODY ================ #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ FLASHES =============== #}
    {# ======================================== #}

    <div class="login-anim">
        {% for message in app.flashes('success') %}
            <div class="flash successFlash">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash errorFlash">{{message}}</div>
        {% endfor %}
    </div>

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Participer à un de nos évènements</h2>
        <p>Dégustation de nouveaux grains, dédicaces, ...</p> 
    </section>

    {# ======================================== #}
    {# ================ EVENTS ================ #}
    {# ======================================== #}

    <section class="container-event">
        {% for event in events %}
            <div class="event">
                <div class="event-left">
                    <div class="img-event">
                        <img src="{{ asset('/uploads/' ~ event.img) }}" alt="{{ event.name }}" onerror="this.style.display='none';"/>
                    </div>
                </div>
                <div class="event-right">
                    <div class="title-event">
                        <div class="heading">
                            <p>Type d'évènement : {{ event.type}}</p>
                            <h2>{{ event.name}}</h2>
                            <p>Aura lieu le : {{ event.date | date('d/m/Y') }}</p>
                        </div>
                    </div>
                    <div class="description-event">
                        <p>{{ event.description}}</p> 
                    </div>
                    <div class="event-bottom">
                        <div class="detail-event">
                            <p>Nombre de place disponible : {{ event.place}}</p>
                            <p>Nombre de participant inscrit : {{ event.participants}}</p>
                            <p>Statut : Inscription ouverte</p>
                        </div>
                        <div class="btn-event">
                            <button>
                                <a href="{{ path('app_user_participant', {'id': event.id}) }}">S'inscrire</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}