{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= STYLE ================ #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/default/event.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Nos évènements{% endblock %}


{# ======================================== #}
{# ================== BODY ================ #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ FLASHES =============== #}
    {# ======================================== #}

    <div class="login-anim">
        {% for message in app.flashes('success') %}
            <div class="flash successFlash">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash errorFlash">{{message}}</div>
        {% endfor %}
    </div>

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Participer à un de nos évènements</h2>
        <p>Dégustation de nouveaux grains, dédicaces, ...</p> 
    </section>

    {# ======================================== #}
    {# ================ EVENTS ================ #}
    {# ======================================== #}

    <section class="container-review">

        {% for event in events | reverse %}

            <div class="event">
                <div class="event-thumb">
                    <div class="img-event">
                        <div class="overlay"></div>
                        <img width="500" height="500" src="{{ asset('/uploads/' ~ event.img) }}" alt="{{ event.name }}" onerror="this.style.display='none';"/>
                    </div>
                    <div class="detail-event">
                        <div class="title-event">
                            <h2>{{ event.name}}</h2>
                        </div>
                        <div class="text-event">
                            <p>Aura lieu le : {{ event.date | date('d/m/Y') }}</p>
                            <p>{{ event.description}}</p>
                            <p>Place disponible : {{ event.place}}</p>
                            <p>Participant inscrit : {{ event.participants}}</p>
                        </div>
                    </div>
                </div>
                

            </div>

            {% else %}  
                <p class="else">Il n'y a pas encore d'évènement</p>

        {% endfor %}
    </section>
{% endblock %}