{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/admin/dashboard.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Panneau de gestion{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ FLASHES =============== #}
    {# ======================================== #}

    <div class="login-anim">
        {% for message in app.flashes('success') %}
            <div class="flash successFlash">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash errorFlash">{{message}}</div>
        {% endfor %}
    </div>

    {# ======================================== #}
    {# ================ WRAPPER =============== #}
    {# ======================================== #}
    
    <main class="wrapper"> 

        {# ======================================== #}
        {# ================= BUTTON =============== #}
        {# ======================================== #}

        <section class="command-btn">
            
            {# ================= DASHBOARD =============== #}
            {# ================= DASHBOARD =============== #}
            {# ================= DASHBOARD =============== #}
            <button class="btn1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-border-all" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="4" width="16" height="16" rx="2" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="12" y1="4" x2="12" y2="20" />
                </svg>
                <p>Dashboard</p>
            </button>
            {# ================= COFFEE =============== #}
            {# ================= COFFEE =============== #}
            {# ================= COFFEE =============== #}
            <button class="btn2">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mug" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4.083 5h10.834a1.08 1.08 0 0 1 1.083 1.077v8.615c0 2.38 -1.94 4.308 -4.333 4.308h-4.334c-2.393 0 -4.333 -1.929 -4.333 -4.308v-8.615a1.08 1.08 0 0 1 1.083 -1.077" />
                    <path d="M16 8h2.5c1.38 0 2.5 1.045 2.5 2.333v2.334c0 1.288 -1.12 2.333 -2.5 2.333h-2.5" />
                </svg>
                <p>Les cafés</p>
            </button>
            {# ================= FOOD =============== #}
            {# ================= FOOD =============== #}
            {# ================= FOOD =============== #}
            <button class="btn3">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ice-cream-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17.657 11.004a6 6 0 1 0 -11.315 0" />
                    <path d="M6.342 11l5.658 11l5.657 -10.996z" />
                </svg>
                <p>Les viennoiseries</p>
            </button>
            {# ================= BOOK =============== #}
            {# ================= BOOK =============== #}
            {# ================= BOOK =============== #}
            <button class="btn4">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                    <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                    <line x1="3" y1="6" x2="3" y2="19" />
                    <line x1="12" y1="6" x2="12" y2="19" />
                    <line x1="21" y1="6" x2="21" y2="19" />
                </svg>
                <p>Les livres</p>
            </button>
            {# ================= EVENT =============== #}
            {# ================= EVENT =============== #}
            {# ================= EVENT =============== #}
            <button class="btn5">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="5" width="16" height="16" rx="2" />
                    <line x1="16" y1="3" x2="16" y2="7" />
                    <line x1="8" y1="3" x2="8" y2="7" />
                    <line x1="4" y1="11" x2="20" y2="11" />
                    <rect x="8" y="15" width="2" height="2" />
                </svg>
                <p>Les évènements</p>
            </button>
            {# ================= USER =============== #}
            {# ================= USER =============== #}
            {# ================= USER =============== #}
            <button class="btn6">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
                <p>Les utilisateurs</p>
            </button>
            {# ================= HOME =============== #}
            {# ================= HOME =============== #}
            {# ================= HOME =============== #}
            <button>
                <a href="{{ path('app_default_home_page') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <polyline points="5 12 3 12 12 3 21 12 19 12" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                    <p>Accueil</p>
                </a>
            </button>
        </section>

        {# ================================================================================== #}
        {# ================= SECTION : LIST COFFEE, FOOD, BOOK, USER, EVENT ================= #}
        {# ================================================================================== #}
        <div class="container-box">

        {# ======================================== #}
        {# ================ HEADING =============== #}
        {# ======================================== #}

        <section class="heading">
            <p>What's happening here?</p>
            <h2>Votre panneau de gestion</h2>
            <p>Gérer votre Coffee and Book ici</p>
        </section>

            {# ======================================== #}
            {# ============== DASHBOARD =============== #}
            {# ======================================== #}
            <section class="box box1 active">
                <section class="heading">
                    <h2>Vue d'ensemble</h2>
                </section>
                <div class="dashboard">
                    <div class="card">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mug" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M4.083 5h10.834a1.08 1.08 0 0 1 1.083 1.077v8.615c0 2.38 -1.94 4.308 -4.333 4.308h-4.334c-2.393 0 -4.333 -1.929 -4.333 -4.308v-8.615a1.08 1.08 0 0 1 1.083 -1.077" />
                                <path d="M16 8h2.5c1.38 0 2.5 1.045 2.5 2.333v2.334c0 1.288 -1.12 2.333 -2.5 2.333h-2.5" />
                            </svg>
                        </div>
                        <div class="text">
                            <h2>Les cafés</h2>
                            <p>10</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-ice-cream-2" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17.657 11.004a6 6 0 1 0 -11.315 0" />
                    <path d="M6.342 11l5.658 11l5.657 -10.996z" />
                </svg>
                        </div>
                        <div class="text">
                            <h2>Les viennosieries</h2>
                            <p>10</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                    <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
                    <line x1="3" y1="6" x2="3" y2="19" />
                    <line x1="12" y1="6" x2="12" y2="19" />
                    <line x1="21" y1="6" x2="21" y2="19" />
                </svg>
                        </div>
                        <div class="text">
                            <h2>Les livres</h2>
                            <p>10</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="5" width="16" height="16" rx="2" />
                    <line x1="16" y1="3" x2="16" y2="7" />
                    <line x1="8" y1="3" x2="8" y2="7" />
                    <line x1="4" y1="11" x2="20" y2="11" />
                    <rect x="8" y="15" width="2" height="2" />
                </svg>
                        </div>
                        <div class="text">
                            <h2>Les évènements</h2>
                            <p>10</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="svg">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
                        </div>
                        <div class="text">
                            <h2>Les utilisateurs</h2>
                            <p>10</p>
                        </div>
                    </div>
                </div>
                
            </section>{# END CONTAINER DASHBOARD #}

            {# ======================================== #}
            {# ================ COFFEE ================ #}
            {# ======================================== #}
            <section id="coffee" class="box box2">
                <section class="heading">
                    <h2>Les cafés</h2>
                    <a href="{{ path('app_admin_add_coffee') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </a>
                </section>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Café</th>
                                <th>Prix</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for coffee in coffees %}
                                <tr>
                                    <td>{{ coffee.id }}</td>
                                    <td>{{ coffee.name }}</td>
                                    <td>{{ coffee.price }}€</td>
                                    <td>
                                        <div class="actions">
                                            {# VOIR #}
                                            <a href="{{ path('app_admin_view_coffee', {'id': coffee.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <circle cx="12" cy="12" r="2" />
                                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# MODIFIER #}
                                            <a href="{{ path('app_admin_update_coffee', {'id': coffee.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# SUPPRIMER #}
                                            <a href="{{ path('app_admin_delete_coffee', {'id': coffee.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="4" y1="7" x2="20" y2="7" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" style="text-align:center;">Il n'y a pas de café pour le moment</td>
                                    </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(coffees) }}
            </section>{# END CONTAINER COFFEE #}

            {# ======================================== #}
            {# ================= FOOD ================= #}
            {# ======================================== #}
            <section id="food" class="box box3">
                <section class="heading">
                    <h2>Les viennoiseries</h2>
                    <a href="{{ path('app_admin_add_food') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </a>
                </section>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Viennoiserie</th>
                                <th>Prix</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for food in foods %}
                                <tr>
                                    <td>{{ food.id }}</td>
                                    <td>{{ food.name }}</td>
                                    <td>{{ food.price }}€</td>
                                    <td>
                                        <div class="actions">
                                            {# VOIR #}
                                            <a href="{{ path('app_admin_view_food', {'id': food.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <circle cx="12" cy="12" r="2" />
                                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                                                </svg>
                                            </a>

                                            <p style="margin: 0 1rem"> | </p>

                                            {# MODIFIER #}
                                            <a href="{{ path('app_admin_update_food', {'id': food.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# SUPPRIMER #}
                                            <a href="{{ path('app_admin_delete_food', {'id': food.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="4" y1="7" x2="20" y2="7" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" style="text-align:center;">Il n'y a pas de viennoiserie pour le moment</td>
                                    </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(foods) }}
            </section>{# END CONTAINER FOOD #}

            {# ======================================== #}
            {# ================= BOOK ================= #}
            {# ======================================== #}
            <section id="book" class="box box4">
                <section class="heading">
                    <h2>Les livres</h2>
                    <a href="{{ path('app_admin_add_book') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </a>
                </section>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Livre</th>
                                <th>Prix</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td>{{ book.id }}</td>
                                    <td>{{ book.name }}</td>
                                    <td>{{ book.price }}€</td>
                                    <td>
                                        <div class="actions">
                                            {# VOIR #}
                                            <a href="{{ path('app_admin_view_book', {'id': book.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <circle cx="12" cy="12" r="2" />
                                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                                                </svg>
                                            </a>

                                            <p style="margin: 0 1rem"> | </p>

                                            {# MODIFIER #}
                                            <a href="{{ path('app_admin_update_book', {'id': book.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# SUPPRIMER #}
                                            <a href="{{ path('app_admin_delete_book', {'id': book.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="4" y1="7" x2="20" y2="7" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" style="text-align:center;">Il n'y a pas de livre pour le moment</td>
                                    </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(books) }}
            </section>{# END CONTAINER BOOK #}

            {# ======================================== #}
            {# ================ EVENT ================= #}
            {# ======================================== #}
            <section id="event" class="box box5">
                <section class="heading">
                    <h2>Les évènements</h2>
                    <a href="{{ path('app_admin_add_event') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-plus" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="12" x2="15" y2="12" />
                            <line x1="12" y1="9" x2="12" y2="15" />
                        </svg>
                    </a>
                </section>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{ event.id }}</td>
                                    <td>{{ event.name }}</td>
                                    <td>{{ event.type }}</td>
                                    <td>
                                        <div class="actions">
                                            {# VOIR #}
                                            <a href="{{ path('app_admin_view_event', {'id': event.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <circle cx="12" cy="12" r="2" />
                                                    <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                                                </svg>
                                            </a>

                                            <p style="margin: 0 1rem"> | </p>

                                            {# MODIFIER #}
                                            <a href="{{ path('app_admin_update_event', {'id': event.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# SUPPRIMER #}
                                            <a href="{{ path('app_admin_delete_event', {'id': event.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="4" y1="7" x2="20" y2="7" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" style="text-align:center;">Il n'y a pas d'évènement pour le moment</td>
                                    </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(events) }}
            </section>{# END CONTAINER EVENT #}

            {# ======================================== #}
            {# ================= USER ================= #}
            {# ======================================== #}
            <section id="user" class="box box6">
                <section class="heading">
                    <h2>Les utilisateurs</h2>
                </section>
                <div class="container-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Identifiant</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>
                                        <div class="actions">
                                            {# MODIFIER #}
                                            <a href="{{ path('app_admin_update_user', {'id': user.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                                    <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                                </svg>
                                            </a> 

                                            <p style="margin: 0 1rem"> | </p>

                                            {# SUPPRIMER #}
                                            <a href="{{ path('app_admin_delete_user', {'id': user.id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                    <line x1="4" y1="7" x2="20" y2="7" />
                                                    <line x1="10" y1="11" x2="10" y2="17" />
                                                    <line x1="14" y1="11" x2="14" y2="17" />
                                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                                </svg>
                                            </a>
                                        </div> 
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ knp_pagination_render(users) }}
            </section> {# END CONTAINER USER #}
        </div> {# END CONTAINER BOX #}
    </main> {# END MAIN #}

{% endblock %}

{% block javascripts %}
    <script src="assets/js/admin/dashboard.js"></script>
{% endblock %}
                            