{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}

{% extends "base.html.twig" %}

{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/CSS/admin/dashboard.css">
{% endblock %}

{# ==================== TITLE ==================== #}
{# ==================== TITLE ==================== #}
{# ==================== TITLE ==================== #}

{% block title %}Panneau de gestion{% endblock %}

{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}

{% block body %}
    

    {# ==================== FIRST SECTION : PRESENTATION ==================== #}
    {# ==================== FIRST SECTION : PRESENTATION ==================== #}
    {# ==================== FIRST SECTION : PRESENTATION ==================== #}

    <section class="heading">

        <p class="color-brown-dark font-serif text-center uppercase">What's happening here?</p>
        <h2 class="font-serif text-center uppercase">Votre panneau de gestion</h2>
        <p class="color-red font-serif text-center uppercase">Gérer votre Coffee and Book Shop ici</p>

    </section>
    
    {# ==================== SECOND SECTION : BUTTON ==================== #}
    {# ==================== SECOND SECTION : BUTTON ==================== #}
    {# ==================== SECOND SECTION : BUTTON ==================== #}

    
    <section class="command-btn">

        <button class="btn1 btn-center color-light">Commandes</button>
        <button class="btn2 btn-center color-light">Utilisateurs</button>
        <button class="btn3 btn-center color-light">Cafés</button>
        <button class="btn4 btn-center color-light">Viennoiseries</button>
        <button class="btn5 btn-center color-light">Livres</button>
        

    </section>

    {# ==================== SECTION : COMMMAND, LIST USER, COFFEE, FOOD & BOOK ==================== #}
    {# ==================== SECTION : COMMMAND, LIST USER, COFFEE, FOOD & BOOK ==================== #}
    {# ==================== SECTION : COMMMAND, LIST USER, COFFEE, FOOD & BOOK ==================== #}

    <section class="container-box">

        {# ==================== SECTION : COMMANDS ==================== #}
        {# ==================== SECTION : COMMANDS ==================== #}
        {# ==================== SECTION : COMMANDS ==================== #}

        <section class="box1 box active">

            <h2 class="uppercase text-center color-dark font-serif">Liste des commandes</h2>

            <table>

                 <thead>
                    <tr>
                        <th>N°de commande</th>
                        <th>Utilisateur</th>
                        <th>Commande</th>
                        <th>Date de commande</th>
                        <th>Statut</th>
                    </tr>
                </thead>

                <tbody>
                    {# {% for user in users %} #}
                        <tr>
                            <td>#0000</td>
                            <td>Voir l'utilisateur</td>
                            <td>Voir la commande</td>
                            <td>Date de la commande</td>
                            <td>En cours</td>
                        </tr>    
                    {# {% endfor %} #}
                </tbody>
                
            </table>
        </section>


        {# ==================== SECTION : USERS ==================== #}
        {# ==================== SECTION : USERS ==================== #}
        {# ==================== SECTION : USERS ==================== #}

        <section class="box2 box">
            
            <h2 class="uppercase text-center color-dark font-serif">Liste des utilisateurs</h2>

            <table>

                 <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>NOM</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>N° de téléphone</th>
                        <th>Adresse</th>
                        <th>Code Postal</th>
                        <th>Ville</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id}}</td>
                            <td>{{ user.lastname}}</td>
                            <td>{{ user.firstname}}</td>
                            <td>{{ user.email}}</td>
                            <td>{{ user.phoneNumber}}</td>
                            <td>{{ user.address}}</td>
                            <td>{{ user.postalCode}}</td>
                            <td>{{ user.city}}</td>
                            <td>

                                <div style="display:flex;">

                                    {# MODIFIER #}
                                    <a href="{{ path('app_admin_update_user', {'id': user.id}) }}" title="Modifier l'utilisateur">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a> 

                                    <p style="margin: 0 1rem"> | </p>

                                    {# SUPPRIMER #}
                                    <a href="{{ path('app_admin_delete_user', {'id': user.id}) }}" title="Supprimez l'utilisateur">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <line x1="4" y1="7" x2="20" y2="7" />
                                            <line x1="10" y1="11" x2="10" y2="17" />
                                            <line x1="14" y1="11" x2="14" y2="17" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                    </a>
                                </div> 
                
                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>
                
            </table>

        </section>

        {# ==================== SECTION : COFFEES ==================== #}
        {# ==================== SECTION : COFFEES ==================== #}
        {# ==================== SECTION : COFFEES ==================== #}

        <section class="box3 box">

            <h2 class="color-dark font-serif text-center uppercase">Liste des cafés</h2>
            <a href="#addCoffee" class="text-center uppercase color-red font-serif"> Ajouter un café?</a>

            <table>

                 <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Photo</th>
                        <th>Café</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for coffee in coffees %}
                        <tr>
                            <td>{{ coffee.id}}</td>
                            <td>
                                <img width="100px" height="auto" src="{{ asset('/uploads/' ~ coffee.img) }}" alt="{{ coffee.name }}" />
                            </td>
                            <td>{{ coffee.name}}</td>
                            <td>{{ coffee.description}}</td>
                            <td>{{ coffee.price}}€</td>
                            <td>

                                <div style="display:flex;">

                                    {# MODIFIER #}
                                    <a href="{{ path('app_admin_update_coffee', {'id': coffee.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a> 

                                    <p style="margin: 0 1rem"> | </p>

                                    {# SUPPRIMER #}
                                    <a href="{{ path('app_admin_delete_coffee', {'id': coffee.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <line x1="4" y1="7" x2="20" y2="7" />
                                            <line x1="10" y1="11" x2="10" y2="17" />
                                            <line x1="14" y1="11" x2="14" y2="17" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                    </a>
                                </div> 

                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>

            </table>

            <button id="addCoffee" class="btn-center">
                <a href="{{ path('app_admin_add_coffee') }}">
                    <img src="/assets/img/icons/beans-black.png" alt="">
                    Ajouter un café ?
                </a>
            </button>

        </section>

        {# ==================== SECTION : FOODS ==================== #}
        {# ==================== SECTION : FOODS ==================== #}
        {# ==================== SECTION : FOODS ==================== #}

        <section class="box4 box">
            <h2 class="color-dark font-serif text-center uppercase">Liste des viennoiseries</h2>
            <a href="#addFood" class="text-center uppercase color-red font-serif"> Ajouter une viennoiserie?</a>

            <table>

                 <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Photo</th>
                        <th>Viennoiserie</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for food in foods %}
                        <tr>
                            <td>{{ food.id}}</td>
                            <td>
                                <img width="100px" height="auto" src="{{ asset('/uploads/' ~ food.img) }}" alt="{{ food.name }}" />
                            </td>
                            <td>{{ food.name}}</td>
                            <td>{{ food.description}}</td>
                            <td>{{ food.price}}€</td>
                            <td>

                                <div style="display:flex;">
                                    
                                    {# MODIFIER #}
                                    <a href="{{ path('app_admin_update_food', {'id': food.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a> 

                                    <p style="margin: 0 1rem"> | </p>

                                    {# SUPPRIMER #}
                                    <a href="{{ path('app_admin_delete_food', {'id': food.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <line x1="4" y1="7" x2="20" y2="7" />
                                            <line x1="10" y1="11" x2="10" y2="17" />
                                            <line x1="14" y1="11" x2="14" y2="17" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                    </a>
                                </div>

                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>

            </table>

            <button id="addFood" class="btn-center">
                <a href="{{ path('app_admin_add_food') }}">
                    <img src="/assets/img/icons/beans-black.png" alt="">
                    Ajouter une viennoiserie ?
                </a>
            </button>

        </section>

        {# ==================== SECTION : BOOKS ==================== #}
        {# ==================== SECTION : BOOKS ==================== #}
        {# ==================== SECTION : BOOKS ==================== #}

        <section class="box5 box">

            <h2 class="color-dark font-serif text-center uppercase">Liste des livres</h2>
            <a href="#addBook" class="text-center uppercase color-red font-serif"> Ajouter un livre?</a>

            <table>
                 <thead>
                    <tr>
                        <th>Identifiant</th>
                        <th>Photo</th>
                        <th>Livre</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.id}}</td>
                            <td>
                                <img width="100px" height="auto" src="{{ asset('/uploads/' ~ book.img) }}" alt="{{ book.name }}" />
                            </td>
                            <td>{{ book.name}}</td>
                            <td>{{ book.description}}</td>
                            <td>{{ book.price}}€</td>
                            <td>

                                <div style="display:flex;">
                                    
                                    {# MODIFIER #}
                                    <a href="{{ path('app_admin_update_book', {'id': book.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#7bc62d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                                            <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                                        </svg>
                                    </a> 

                                    <p style="margin: 0 1rem"> | </p>

                                    {# SUPPRIMER #}
                                    <a href="{{ path('app_admin_delete_book', {'id': book.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <line x1="4" y1="7" x2="20" y2="7" />
                                            <line x1="10" y1="11" x2="10" y2="17" />
                                            <line x1="14" y1="11" x2="14" y2="17" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                    </a>
                                </div>

                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>

            </table>

            <button id="addBook" class="btn-center">
                <a href="{{ path('app_admin_add_book') }}" >
                    <img src="/assets/img/icons/beans-black.png" alt="">
                    Ajouter un livre ?
                </a>
            </button>

        </section>
        
    </section>{# END FIRST SECTION #}

{% endblock %}

{% block javascripts %}
    <script src="assets/JS/admin/dashboard.js"></script>
{% endblock %}