{% extends "base.html.twig" %}

{% block title %}Évènement : {{ currentEvent.name }}{% endblock %}

{% block body %}

    <style>
        footer{
            display: none;
        }
        header{
            background: url('/assets/img/event.jpg') no-repeat center center / cover;
        }
        header::after{
            content: " ";
            position: absolute;
            z-index: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(255, 255, 255, 0.4);
        }
        header h1{
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            text-align: center;
            color: #efece9;
            text-shadow:
                    1px 0 1px #d9ccbc,
                    0 1px 1px  #efece9,
                    2px 1px 1px #d9ccbc,
                    1px 2px 1px  #efece9,
                    3px 2px 1px #d9ccbc,
                    2px 3px 1px  #efece9,
                    4px 3px 1px #d9ccbc,
                    3px 4px 1px  #efece9,
                    5px 4px 1px #d9ccbc,
                    4px 5px 1px  #efece9,
                    6px 5px 1px #d9ccbc,
                    5px 6px 1px  #efece9,
                    7px 6px 1px #d9ccbc;
        }
        @media screen and (max-width: 800px){
            .description{
                text-align: center !important;
            }
            .places{
                display: flex;
                flex-direction: column;
            }
            .places .barre{
                display: none;
            }
        }
    </style>

    <header data-jarallax data-speed=".8">

        <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0" style="z-index: 1; position:relative;">

            <div class="container mt-10 my-auto">

                <div class="row justify-content-center">

                    <div class="col-12 col-md-10 col-lg-8 text-center">

                        <div class="display-3 text-white mb-4">

                                <!-- Heading -->
                                <h1 style="color: #f9f9f9" class="display-5">{{ currentEvent.name }}</h1>

                                <!-- Subheading -->
                                <p class="font-default text-center mt-0 text-uppercase" style="font-size: 1.5rem; color: #f9f9f9">
                                    Le <span class="text-primary">{{ currentEvent.date | date('d/m/Y') }}</span>
                                    <br>
                                    au <span class="text-primary">C&B</span>
                                </p>

                                <!-- Text -->
                                <p class="description my-5 text-start font-default" style="font-size: 1rem">
                                    {{ currentEvent.description}}
                                </p>

                                <div class="places d-flex align-items-center justify-content-center my-5">
                                    <p style="font-size: 1rem">
                                        Place(s) disponible(s) : {{ currentEvent.place}}
                                        <span class="barre text-primary mx-1">|</span>
                                    </p>
                                    <p style="font-size: 1rem">
                                        Participant(s) inscrit(s) : {{ currentEvent.participants}}
                                        <span class="barre text-primary mx-1">|</span>
                                    </p>
                                    <p style="font-size: 1rem">
                                        <span class="text-primary mx-1">Place(s) restante(s) :{{ (currentEvent.place)-(currentEvent.participants) }}</span>
                                    </p>

                                </div>

                                <div class="mx-5" style="font-size: 1rem">
                                    {% if currentEvent.place - currentEvent.participants > 0 %}
                                        <div class="container-form">

                                            {{ form(form) }}

                                        </div>
                                    {% else %}
                                        <span class="text-primary text-uppercase">Plus de place</span>
                                    {% endif %}
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>

    </header>

{% endblock %}