{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Modifier l'utilisateur{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Modifier l'utilisateur suivant : {{ user.firstname}} {{ user.lastname }}</h2>
        <a href="{{ path('app_admin_dashboard') }}">Retour</a>
    </section>

    {# ======================================== #}
    {# ================== USER ================ #}
    {# ======================================== #}
    <section class="section-form">
    
        {# FORMULAIRE #}
        <div class="container-form">

            {{ form_start(form) }}
            
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phoneNumber) }}
                <div style="display: none;">
                    {{ form_widget(form.password) }}
                </div>

            {{ form_end(form) }}

        </div>

    </section>

    
{% endblock %}