{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Ajouter un livre{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Ajouter un nouveau livre</h2>
        <a href="{{ path('app_admin_dashboard') }}">Retour</a>
    </section>

    {# ======================================== #}
    {# ================== BOOK ================ #}
    {# ======================================== #}

    <section class="section-form">
    
        {# FORMULAIRE #}
        <div class="container-form">

            {{ form_start(form) }}
            
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.price) }}
                {{ form_row(form.img) }}

            {{ form_end(form) }}

        </div>

    </section>

    
{% endblock %}