{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}
{# ==================== EXTENDS ==================== #}

{% extends "base.html.twig" %}

{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/CSS/form.css">
{% endblock %}

{# ==================== TITLE ==================== #}
{# ==================== TITLE ==================== #}
{# ==================== TITLE ==================== #}

{% block title %}Ajouter un café{% endblock %}

{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}
{# ==================== BODY ==================== #}

{% block body %}

    {# ==================== ADD COFFEE ==================== #}
    {# ==================== ADD COFFEE ==================== #}
    {# ==================== ADD COFFEE ==================== #}

    <section class="section-form">

        {# MESSAGE #}
        
        <div class="heading">
            <p class="color-brown-dark font-serif text-center uppercase">What's happening here?</p>
            <h2 class="color-dark font-serif text-center uppercase">Ajouter un nouveau café</h2>
            <a href="{{ path('app_admin_dashboard') }}" class="color-red font-serif text-center uppercase">Retour</a>
        </div>
        
    
        {# FORMULAIRE #}
        <div class="container-form">

            {{ form_start(form) }}
            
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.price) }}
                {{ form_row(form.img) }}

            {{ form_end(form) }}

        </div>

    </section>

    
{% endblock %}